@tailwind base;
@tailwind components;
@tailwind utilities;
body h2, h1{
    color: rgb(51, 189, 219) !important;
}
.swiperSlide {
 height: 250px;
}

#root {
    background: rgb(27,13,77) !important;
    background: linear-gradient(180deg, rgba(27,13,77,1) 19%, rgba(18,46,77,1) 64%, rgba(21,94,111,1) 92%) !important;
}